<div class="text-center">
 
<h2>{{title}}</h2>
  <p>{{contents}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  
  <p>
    <textarea name="" id="comment" cols="30" rows="10"></textarea>
    <button class="btn btn-primary">Add comments</button>
     <button class="btn btn-primary">Edit</button>
  </p>
</div>
